$basefont: Arial,sans-serif !default;
$basefontsize: 12px !default;
$basegutter: 15px !default;

$debug-mode: false !default;
$enable-rem: false !default;
$global-box-sizing: true !default;

$sticky-footer-height: false !default;
$sticky-footer-margin: $sticky-footer-height !default;

$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)'
) !default;