$base-font: Arial,sans-serif !default;
$base-font-size: 12px !default;
$base-gutter: 15px !default;

$breakpoints: (
    'mouse' '(max-width: 480px)',
    'cat' '(min-width: 481px) and (max-width: 1023px)',
    'dog' '(max-width: 1023px)',
    'whale' '(min-width: 1024px)'
) !default;

$debug-mode: false !default;

$image-fallback-extension: 'png' !default;
$image-path: '/images' !default;
$image-retina-suffix: '@2x' !default;

$global-box-sizing: true !default;

$sprite: false !default;
$sprite-size: 0 0 !default;

$sticky-footer-height: false !default;
$sticky-footer-margin: $sticky-footer-height !default;


$vendors: '-webkit-' '-moz-' '-ms-' '-o-' '' !default;
$vendors-no-ms: '-webkit-' '-moz-' '-o-' '' !default;
$vendors-no-w3c: '-webkit-' '-moz-' '-o-' '-ms-' !default;
$vendors-placeholder: ':-webkit' '-moz' ':-moz' '-ms' !default;