$base-font: Arial,sans-serif !default;
$base-font-size: 12px !default;
$base-gutter: 15px !default;

$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)'
) !default;

$debug-mode: false !default;

$image-fallback-extension: 'png' !default;
$image-path: '/images' !default;
$image-retina-suffix: '@2x' !default;

$global-box-sizing: true !default;

$sprite: false !default;
$sprite-size: 0 0 !default;

$sticky-footer-height: false !default;
$sticky-footer-margin: $sticky-footer-height !default;