@if $sticky-footer-height {
	html {
		position: relative;
		min-height: 100%;
	}
	body {
		margin: 0 0 $sticky-footer-margin; /* bottom = footer height */
	}
	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		height: $sticky-footer-height;
		width: 100%;
	}
}