@mixin bg-size($size) {
	-webkit-background-size: $size; // Safari 3-4
	background-size: $size; // Chrome, Firefox 4+, IE 9+, Opera, Safari 5+
}

@mixin border-radius-noclip($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radius($radius) {
	@include border-radius-noclip($radius);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3)) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin box-sizing($box: border-box) {
	-webkit-box-sizing: $box;
	-moz-box-sizing: $box;
	box-sizing: $box;
}

// Gradient mixin for vertical, horizonal and diagonal
// Usage:
//		@include gradient(h, #f00, #0f0);
@mixin gradient($type, $start, $end, $degrees: false) {

	$gradient: linear;
	$direction: top;
	$to-direction: bottom;
	$ie-type: 1;

	@if $type == h {
		$direction: left;
		$to-direction: right;
		$ie-type: 1;
	} @else if $type == d {
		$direction: $degrees;
	}

	background: $end; // Old browsers

	@if $degrees {
		$direction: $direction + 90; // When doing degrees all browsers start at 90, except the w3c spec
		background: -moz-#{$gradient}-gradient(#{$direction}deg,  $start 0%, $end 100%); /* FF3.6+ */
		background: -webkit-#{$gradient}-gradient(#{$direction}deg,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
		background: -o-#{$gradient}-gradient(#{$direction}deg,  $start 0%,$end 100%); /* Opera 11.10+ */
		background: -ms-#{$gradient}-gradient(#{$direction}deg,  $start 0%,$end 100%); /* IE10+ */
		background: #{$gradient}-gradient(#{$direction - 90}deg,  $start 0%,$end 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=#{$ie-type}); /* IE6-9 fallback on horizontal gradient */
	} @else {
		background: -moz-#{$gradient}-gradient($direction,  $start 0%, $end 100%); /* FF3.6+ */
		background: -webkit-#{$gradient}-gradient($direction,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
		background: -o-#{$gradient}-gradient($direction,  $start 0%,$end 100%); /* Opera 11.10+ */
		background: -ms-#{$gradient}-gradient($direction,  $start 0%,$end 100%); /* IE10+ */
		background: #{$gradient}-gradient(to $to-direction,  $start 0%,$end 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=#{$ie-type}); /* IE6-9 */
	}
}

@mixin gradient-radial($size, $shape, $position, $colors...){
	$type: 'radial';
	$radial-prefs: '-webkit' '-moz' '-o';
	$fallback: nth($colors, 1);
	background: $fallback;
	@each $radial-pref in $radial-prefs {
		background: #{$radial-pref}-#{$type}-gradient($position, $size $shape, $colors);
	}
	background: #{$type}-gradient($size $shape at $position, $colors);
}

@mixin opacity($opacity: 50) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $opacity ")";
	filter: alpha(opacity=$opacity);
	opacity: $opacity / 100;
	zoom: 1;
}


@mixin transition($time: 0.5s, $attr: all, $effect: ease) {
	@each $prefix in $transition-prefix {
		#{$prefix}transition: $time $attr $effect;
	}
}

$transition-prefix: '-webkit-' '-moz-' '-o-' '';
@mixin transition-property($attr, $value) {
	@each $prefix in $transition-prefix {
		#{$prefix}transition-#{$attr}: $value;
	}
}

@mixin transform($trans) {
	$prefixes: '-webkit-' '-moz-' '-ms-' '-o-' '';
	@each $prefix in $prefixes {
		#{$prefix}transform: $trans;
	}
}

$transform-prefix: '-webkit-' '-moz-' '-o-' '-ms-' '';
@mixin transform-property($attr, $value) {
	@each $prefix in $transform-prefix {
		#{$prefix}transform-#{$attr}: $value;
	}
}