

@mixin box-sizing($box: border-box) {
	-webkit-box-sizing: $box;
	-moz-box-sizing: $box;
	box-sizing: $box;
}

@mixin border-radius-noclip($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radius($radius) {
	@include border-radius-noclip($radius);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3), $inset: null) {
	-webkit-box-shadow: $inset $shadow;
	box-shadow: $inset $shadow;
}


// Gradient mixin for vertical, horizonal and diagonal
// Usage:
//		@include gradient(h, #f00, #0f0);
@mixin gradient($type, $start, $end, $degrees: false) {

	$gradient: linear;
	$direction: top;
	$to-direction: bottom;
	$ie-type: 1;

	@if $type == h {
		$direction: left;
		$to-direction: right;
		$ie-type: 1;
	} @else if $type == d {
		$direction: $degrees;
	}

	background: $end; // Old browsers
	
	@if $degrees {
		$direction: $direction + 90;
		background: -moz-#{$gradient}-gradient(#{$direction}deg,  $start 0%, $end 100%); /* FF3.6+ */
		background: -webkit-#{$gradient}-gradient(#{$direction}deg,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
		background: -o-#{$gradient}-gradient(#{$direction}deg,  $start 0%,$end 100%); /* Opera 11.10+ */
		background: -ms-#{$gradient}-gradient(#{$direction}deg,  $start 0%,$end 100%); /* IE10+ */
		background: #{$gradient}-gradient(#{$direction - 90}deg,  $start 0%,$end 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=#{$ie-type}); /* IE6-9 fallback on horizontal gradient */
	} @else {
		background: -moz-#{$gradient}-gradient($direction,  $start 0%, $end 100%); /* FF3.6+ */
		background: -webkit-#{$gradient}-gradient($direction,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
		background: -o-#{$gradient}-gradient($direction,  $start 0%,$end 100%); /* Opera 11.10+ */
		background: -ms-#{$gradient}-gradient($direction,  $start 0%,$end 100%); /* IE10+ */
		background: #{$gradient}-gradient(to $to-direction,  $start 0%,$end 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=#{$ie-type}); /* IE6-9 */
	}
}

@mixin opacity($opacity: 0.5) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $opacity ")";
	filter: alpha(opacity= $opacity * 100 );
	opacity: $opacity / 100;
	zoom: 1;
}

@mixin transition($time: 0.5s, $attr: all, $effect: ease) {
	-webkit-transition: $attr $time $effect;
	-moz-transition: $attr $time $effect;
	-ms-transition: $attr $time $effect;
	-o-transition: $attr $time $effect;
	transition: $attr $time $effect;
}

@mixin transform($trans) {
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-ms-transition: $trans;
	-o-transition: $trans;
	transition: $trans;
}

