// These Grids only give widths to elements at varying breakpoints
//   @inlcude 
//   



@mixin create-grids($cols: 12, $bps: (sm 480px, md 640px, lg 860px)) {

    @each $bp in $bps {
        $bp-name: nth($bp, 1);
        $bp-value: nth($bp, 2); 

        @media all and (min-width: $bp-value) {
            @for $i from 1 through $cols {
                .col-#{$bp-name}-#{$i} {
                    width: (100% / $cols) * $i;
                }
            }
        }   
    }
}
