@mixin sprite($width, $height, $bg-extras) {
	width: $width;
	height: $height;
	background: url($sprite) no-repeat $bg-extras;
}

@mixin image-2x($image-path, $image-size: $sprite-size) {
	@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
		background-image: url($image-path);
		@include bg-size($image-size);
	}
}