@mixin font($type) {
	@if $type == hell {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
	} @else if $type == sans {
		font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
	} @else if $type == serif {
		font-family: "Georgia", "Times New Roman", Times, sans-serif;
	} @else if $type == monospace {
		font-family: "Monaco", "Courier New", monospace;
	}

}

@if $enable-rem {
	html {font-size: 62.5%;}
}
@function calculate-rem($size) {
	$rem-size: $size / 16px;
	@return #{$rem-size}rem;
}
@mixin font-size($size) {
	font-size: $size; //Fallback in px
	font-size: calculate-rem($size);
}

@mixin hide-text {
	font: 0/0 a; 
	text-shadow: none;
	color: transparent;
}